*{
    box-sizing: border-box;
}

body{
    margin: 30px 60px; 
    background-color: #93b5b3;
}


h1{
    color: #103c42;
}

hr{
    height: 1px;
    background-color: #103c42;
}

h2{
    color: #407088;
    font-size: 20px;
}

.datos li h4{
    color: #2a576e;
    border-block-end: dotted;
}

p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.perfil{
    width: 30%;       
}

.contenido{
    width: 70%;
}

.perfil, .contenido{
    float:left;
}

section{
    background-color: #cbdbcdad;
    border-radius: 10px;
    margin: 20px;
    padding: 35px;
}

#quienSoy{
    height: 40%;
}

#formacion{
    height: 35%;
}

#experiencia{
    height: 20%;
}

li{
    list-style: none;
}

.portfolio img{
    width: 150px;
}

.portfolio li{
    display: inline-block;
}

.perfil img{
    width: 200px;
    border-radius: 100px;
    margin-left: 20%;
}

.perfil h2{
    color: #004a2f;
    background-color: #a27a2fbe;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
}

.perfil a{
    text-decoration: none;
}